# ROS 2 / colcon
build/
install/
log/

# Python / caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bags / data (si usas rosbag)
*.db3
*.mcap

# Large binaries (opcional)
*.bag
